
.l-hidden {
    display: none;
}
.l-form .l-group {
    border-bottom: 2px solid #ebebeb;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    margin-bottom: 6px;
    padding: 2px;
}
.l-textarea {
    background: #ffffff url("../images/ui/input.gif") repeat-x scroll center top;
    border: 1px solid #d0d0d0;
    margin-left: 0;
    outline: medium none;
}
.l-textarea:hover {
    border-color: #777777;
}
.l-textarea-invalid, .l-textarea:focus {
    border-color: #777777;
}
.l-textarea-invalid {
    background: #ffeeee url("../../Aqua/images/common/invalid-line.gif") repeat-x scroll center bottom;
    border-color: #ff7777;
}
.l-textarea-invalid:hover, .l-textarea-invalid:focus {
    border-color: #ff7777;
}
.l-text {
    border: 1px solid #d0d0d0;
    height: 20px;
    line-height: 20px;
    position: relative;
    width: 130px;
}
.l-text-focus {
    border-color: #777777;
}
.l-text-invalid {
    background: #fee url("../../Aqua/images/common/invalid-line.gif") repeat-x scroll 50% 100%;
    border-color: #f77;
}
.l-text-disabled {
    background: #f0f0f0 none repeat scroll 0 0;
    color: #999;
}
.l-text-disabled .l-text-field {
}
.l-text-editing {
}
.l-text-readonly {
    background: #f0f0f0 none repeat scroll 0 0;
    border-color: #ddd;
    color: #999;
    margin: 0;
    padding: 0;
}
.l-text-field {
    background-color: #fff;
    border: 0 none;
    color: #555555;
    height: 20px;
    left: 0;
    line-height: 20px;
    margin: 0;
    outline: medium none;
    padding-left: 2px;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 110px;
}
.l-text-field-null {
    color: #c1c1c1;
}
.l-trigger, .l-trigger-hover, .l-trigger-pressed {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    height: 100%;
    margin-right: 2px;
    right: 0;
    top: 0;
    width: 16px;
}
.l-trigger-cancel {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-left: medium none;
    right: 19px;
}
.l-trigger-cancel .l-trigger-icon {
    background: transparent url("../images/ui/icon-unselect.gif") no-repeat scroll 50% 50%;
}
.l-trigger-icon {
    background: transparent url("../images/ui/icon-down.gif") no-repeat scroll 50% 50%;
    height: 100%;
    width: 100%;
}
.l-text-date .l-trigger-icon {
    background-image: url("../images/ui/date.gif");
    margin-right: 2px;
}
.l-text-popup .l-trigger, .l-text-popup .l-trigger-hover, .l-text-popup .l-trigger-pressed {
    border: medium none;
    height: 100%;
    right: 0;
    top: 0;
    width: 16px;
}
.l-text-popup .l-trigger-cancel {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    height: 100%;
    right: 17px;
}
.l-trigger-icon-select {
    background: transparent url("../images/ui/icon-select2.gif") no-repeat scroll 55% 55%;
}
.l-text-popup .l-trigger-icon {
    background: transparent url("../images/ui/icon-select2.gif") no-repeat scroll 55% 55%;
}
.l-text-popup .l-trigger-cancel .l-trigger-icon {
    background: transparent url("../images/ui/icon-unselect.gif") no-repeat scroll 50% 53%;
}
.l-spinner-up .l-spinner-icon, .l-spinner-down .l-spinner-icon {
    background: rgba(0, 0, 0, 0) none no-repeat scroll center top;
    height: 6px;
    left: 0;
    margin-top: -3px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 100%;
}
.l-spinner-down-over, .l-spinner-up-over {
    background: #f1f1f1 none repeat scroll 0 0;
}
.l-spinner-up .l-spinner-icon {
    background-image: url("../images/ui/icon-up.gif");
}
.l-spinner-down .l-spinner-icon {
    background-image: url("../images/ui/icon-down.gif");
}
.l-spinner-up, .l-spinner-down {
    display: block;
    height: 50%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.l-spinner-down {
    top: 50%;
}
.l-spinner-split {
    background: #ffffff none repeat scroll 0 0;
    height: 1px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 13px;
    z-index: 10;
}
.l-verify-star {
    color: Red;
}
.l-box-select-grid {
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}
.l-box-select-grid thead td, .l-box-select-grid tr.l-table-headerow td {
    background: #f0f0f0 none repeat scroll 0 0;
}
.l-box-select-grid td {
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}
.l-box-select {
    background: white none repeat scroll 0 0;
    border: 1px solid #d0d0d0;
    display: none;
    font-size: 12px;
    height: auto;
    line-height: 18px;
    margin-top: 1px;
    padding: 0;
    position: absolute;
    width: 130px;
    z-index: 9300;
}
.l-box-select-absolute {
    margin-top: 0;
}
.l-box-select-inner {
    color: #333;
    height: 120px;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
}
.l-box-select-inner .l-box-select-table {
    margin: 0;
    padding: 0;
    width: 100%;
}
.l-box-select .l-table-nocheckbox td:hover, .l-box-select .l-table-nocheckbox td.l-over {
    background-color: #eee;
    cursor: pointer;
}
.l-box-select .l-table-nocheckbox td.l-selected {
    background-color: #d2d2d2;
}
.l-box-select .l-box-select-table td {
    padding: 2px;
    text-align: left;
}
.l-box-select-lookup {
    height: auto;
}
.l-box-select-lookup .l-form {
    background: #f1f1f1 none repeat scroll 0 0;
    border-bottom: 1px solid #d6d6d6;
    margin: 0;
    padding: 2px;
}
.l-box-select-lookup .l-box-select-inner {
    overflow: hidden;
    padding: 0;
}
.l-listbox {
    background: white none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    font-size: 12px;
    height: 120px;
    line-height: 18px;
    width: 130px;
}
.l-listbox-grid {
    border-bottom: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}
.l-listbox-grid thead td, .l-listbox-grid tr.l-table-headerow td {
    background: #f0f0f0 none repeat scroll 0 0;
    border-top: medium none;
}
.l-listbox-grid td {
    border-left: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}
.l-listbox-inner {
    color: #333;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
}
.l-listbox-inner .l-listbox-table {
    margin: 0;
    padding: 0;
    width: 100%;
}
.l-listbox tr:hover td, .l-listbox tr.l-over td {
    background-color: #e7edf8;
    border-bottom: 1px dotted #89a8e3;
    border-top: 1px dotted #89a8e3;
    cursor: pointer;
}
.l-listbox tr.l-selected td {
    background-color: #dfe8f6;
    border-bottom: 1px dotted #d6d6d6;
    border-top: 1px dotted #d6d6d6;
}
.l-listbox td {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ffffff;
    padding: 2px;
    text-align: left;
}
.l-listbox .l-listbox-grid td {
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
}
.l-listbox .l-table-nocheckbox .l-checkboxrow {
    display: none;
    width: 0;
}
.l-box-dateeditor {
    background: white none repeat scroll 0 0;
    border: 1px solid #6681b0;
}
.l-box-dateeditor-header {
    background: #173167 none repeat scroll 0 0;
}
.l-box-dateeditor-header-text a {
    color: White;
    cursor: pointer;
    text-decoration: none;
}
.l-box-dateeditor-header-btn {
    background-image: url("../images/ui/dateeditor-btn.gif");
    background-repeat: no-repeat;
}
.l-box-dateeditor-header-btn-over {
    background-image: url("../images/ui/dateeditor-btn-over.gif");
}
.l-box-dateeditor-header-btn {
    cursor: pointer;
    height: 15px;
    position: absolute;
    top: 4px;
    width: 15px;
}
.l-box-dateeditor-header-btn span {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.l-box-dateeditor-header-prevmonth {
    background-position: -15px 0;
    left: 24px;
}
.l-box-dateeditor-header-prevmonth span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.l-box-dateeditor-header-nextmonth {
    background-position: -30px 0;
}
.l-box-dateeditor-header-nextmonth span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.l-box-dateeditor-header-prevyear {
    background-position: 0 0;
    left: 4px;
}
.l-box-dateeditor-header-prevyear span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.l-box-dateeditor-header-nextyear {
    background-position: -45px 0;
    right: 4px;
}
.l-box-dateeditor-header-nextyear span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.l-box-dateeditor-body {
    border: medium none;
}
.l-box-dateeditor-body thead td {
    background: #c1d4eb url("../images/ui/dateeditor-thead.gif") repeat-x scroll center top;
    border-bottom: 1px solid #9ab3d5;
}
.l-box-dateeditor-body tbody td.l-box-dateeditor-today {
    background-color: #cce3fe;
}
.l-box-dateeditor-body tbody td.l-box-dateeditor-over, .l-box-dateeditor-body tbody td.l-box-dateeditor-selected {
    background-color: #ddecfe;
}
.l-box-dateeditor-monthselector li:hover, .l-box-dateeditor-monthselector li.l-selected, .l-box-dateeditor-monthselector li.l-over, .l-box-dateeditor-yearselector li:hover, .l-box-dateeditor-yearselector li.l-selected, .l-box-dateeditor-yearselector li.l-over, .l-box-dateeditor-hourselector li:hover, .l-box-dateeditor-hourselector li.l-selected, .l-box-dateeditor-hourselector li.l-over, .l-box-dateeditor-minuteselector li:hover, .l-box-dateeditor-minuteselector li.l-selected, .l-box-dateeditor-minuteselector li.l-over {
    background-color: #ddecfe;
    border: 1px solid #8db2e3;
}
.l-box-dateeditor-toolbar {
    background: #c1d4eb url("../images/ui/dateeditor-bar.gif") repeat-x scroll center top;
    border-top: 1px solid #9ab3d5;
    height: 31px;
    padding-left: 10px;
    position: relative;
    text-align: right;
    width: 100%;
}
