
.l-scroll {
}
.l-grid-loading {
    background-image: url("../images/ui/loading2.gif");
    border: 1px solid #d6d6d6;
}
.l-panel {
    border: 1px solid #d6d6d6;
}
.l-panel .l-clear {
    height: 0;
}
.l-panel-header {
    background-color: #f0f0f0;
    background-image: none;
    border-bottom: 1px solid #d6d6d6;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
}
.l-panel-header-text {
    line-height: 24px;
    padding-left: 15px;
}
.l-grid {
    background-color: White;
}
.l-grid-header {
    background: #f0f0f0 url("../images/gridheader.png") repeat-x scroll 0 0;
    border-bottom: 1px solid #d6d6d6;
    border-top: medium none;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
}
.l-grid-hd-cell-mul {
    border-bottom: 1px solid #dfdfdf;
}
.l-grid-hd-cell-btn {
    border-left: 1px solid #c1d6f0;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.l-grid-hd-cell-text {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.l-grid-hd-cell {
    border-right: 1px solid #dfdfdf;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.l-grid-totalsummary {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: medium none;
    padding-bottom: 5px;
    padding-top: 5px;
}
.l-grid-totalsummary td {
    border-right: 1px solid #dfdfdf;
    line-height: 23px;
    text-align: center;
}
.l-grid-totalsummary .l-grid-totalsummary-cell-last {
    border-right: 1px solid #dfdfdf;
}
.l-grid-totalsummary .l-grid-totalsummary-cell-inner {
    margin-left: 3px;
    margin-right: 3px;
    min-height: 23px;
}
.l-grid-totalsummary .l-grid-totalsummary-cell-inner div {
    height: 22px;
    line-height: 22px;
}
.l-grid-row-cell-detail .l-grid-row-cell-inner span {
    background-image: url("../images/ui/grid-detail-close.gif");
}
.l-grid-row-cell-detail .l-grid-row-cell-inner span.l-open {
    background-image: url("../images/ui/grid-detail-open.gif");
}
.l-grid-detailpanel {
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.l-grid-detailpanel-inner {
    margin-bottom: 2px;
    overflow: auto;
}
.l-grid-row-alt .l-grid-row-cell {
    background: #f5f5f5 url("../images/ui/gridalt.gif") repeat-x scroll center top;
}
.l-grid-row-over .l-grid-row-cell, .l-grid-row-over {
    background: #fffcd3 none repeat scroll 0 0;
}
.l-selected .l-grid-row-cell, .l-selected {
    background: #fcef9a none repeat scroll 0 0;
}
.l-selected .l-grid-row-cell {
    border-right: 1px solid #d1d9e4;
}
.l-grid-row-cell {
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    overflow: hidden;
    text-align: center;
}
.l-grid-row-last .l-grid-row-cell {
    border-bottom: medium none;
}
.l-grid-row-cell-last {
}
.l-grid-row-cell-inner {
    line-height: 22px;
    margin-left: 3px;
    margin-right: 3px;
    min-height: 22px;
    overflow: hidden;
    text-align: center;
}
.l-grid-row-cell-inner-fixedheight {
    height: 22px;
}
.l-panel-bar {
    background: #f5f5f5 url("../images/ui/gridbar.jpg") repeat-x scroll 0 0;
    border-top: 1px solid #d6d6d6;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.l-panel-bbar-inner {
    margin-top: 3px;
    min-width: 530px;
    position: relative;
    width: 100%;
}
.l-bar-message {
    position: absolute;
    right: 0;
}
.l-bar-group {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    height: 31px;
}
.l-bar-right {
    float: right;
}
.l-bar-separator {
    border-left: 1px solid #9ac6ff;
    border-right: 1px solid white;
    float: left;
    height: 18px;
    margin: 2px;
}
.pcontrol {
    margin-top: 0;
}
.l-bar-button {
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 22px;
    overflow: hidden;
    width: 22px;
}
.l-grid .l-grid-grouprow {
    border-right: 1px solid #dfdfdf;
}
.l-grid .l-grid-grouprow-cell {
    background: #eaf3ff none repeat scroll 0 0;
    border-bottom: 1px solid #dfdfdf;
    padding: 6px;
}
.l-grid .l-grid-totalsummary-group td {
    background-color: #f5eefb;
    border-color: #f5eefb;
}
.l-panel-bar-total {
    background: #c6f5b6 none repeat scroll 0 0;
    border-top: 1px solid #84a0c4;
    padding: 8px;
}
.l-grid-tree-space {
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 18px;
}
.l-grid1 {
    display: none;
}
.l-grid1 .l-grid-body {
    overflow: hidden;
}
.l-grid1 .l-grid-detailpanel {
    border-right: 1px solid white;
}
.l-frozen .l-grid2 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.l-frozen .l-grid2 .l-grid-body {
    overflow-x: auto;
}
.l-frozen .l-grid1 {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
.l-panel-search {
    border-left: 1px solid #99bbe8;
    border-right: 1px solid #99bbe8;
    height: 28px;
    padding-left: 3px;
    padding-top: 3px;
}
.l-panel-search-item {
    float: left;
    margin-left: 5px;
}
.l-grid-row-cell-editing-topcell {
    border-bottom-color: #b6b6b6;
}
.l-grid-row-cell-editing-leftcell {
    border-right-color: #b6b6b6;
}
.l-panel td.l-grid-row-cell-editing {
    background: #ebf2fb url("../images/ui/grideditor.gif") repeat-x scroll center top;
    border-color: #b6b6b6;
}
.l-panel td.l-grid-row-cell-editing .l-text, .l-panel td.l-grid-row-cell-editing .l-text-wrapper {
    margin-left: 2px;
}
.l-grid-row-cell .l-text {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #aaa -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
}
.l-grid-editor .l-text {
    border: 1px solid #2d93f6;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.11) inset;
}
.l-grid-row-cell .l-text-field, .l-grid-editor .l-text-field {
}
.l-grid-row-cell .l-text-invalid, .l-grid-editor .l-text-invalid {
    border: 1px solid #aaa;
}
.l-grid-detailpanel-edit {
    background-color: #fafaff;
    padding-bottom: 3px;
    padding-top: 7px;
}
.l-grid-detailpanel .l-editbox {
    float: left;
    margin: 2px 10px 2px 6px;
}
.l-grid-detailpanel .l-button {
    float: left;
    margin: 2px 6px 2px 4px;
}
.l-grid-detailpanel .l-clear {
    clear: both;
}
.l-grid-row-alt .l-grid-row-cell-rownumbers, .l-selected .l-grid-row-cell-rownumbers, .l-grid-row-over .l-grid-row-cell-rownumbers, .l-grid-row-cell-rownumbers {
    background: #f1f1f1 none repeat scroll 0 0;
}
.l-panel-topbar {
    background: white url("../images/ui/gridbar.jpg") repeat-x scroll center top;
    border-bottom: 1px solid #d6d6d6;
    height: 31px;
    line-height: 31px;
}
.l-panel-btn {
    color: #000;
    cursor: pointer;
    line-height: 22px;
    text-align: center;
}
.l-toolbar-item, .l-bar-separator {
    margin-top: 5px;
}
.l-bar-separator {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid white;
    float: left;
    height: 13px;
    margin: 9px 2px 2px;
}
.l-panel .l-toolbar {
    background: white url("../images/ui/gridbar.jpg") repeat-x scroll 0 0;
    border: medium none;
    height: 28px;
    line-height: 28px;
}
.l-toolbar-item {
    float: left;
    margin-left: 4px;
}
.l-toolbar-item .l-icon {
    left: 2px;
    position: absolute;
    top: 2px;
}
.l-toolbar-item-hasicon {
    padding-left: 20px;
}
.l-toolbar-item-disable {
    cursor: default;
}
.l-toolbar-item-disable span {
    color: #a1a1a1;
}
