
.l-tab-links {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.l-tab-links li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.l-tab-loading {
    background: white url("../images/bigloading.gif") no-repeat scroll center 40%;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
.l-tab-links {
    height: 29px;
    margin: 0 18px -1px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.l-tab-links-left, .l-tab-links-right {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dedede;
    cursor: pointer;
    height: 28px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    width: 16px;
    z-index: 13;
}
.l-tab-links-left {
    border-top-left-radius: 2px;
    left: 0;
}
.l-tab-links-right {
    border-top-right-radius: 2px;
    right: 0;
}
.l-tab-links-left span, .l-tab-links-right span {
    background: rgba(0, 0, 0, 0) url("../images/tab_arrow_spr.png") no-repeat scroll 0 -16px;
    font-size: 0;
    height: 11px;
    left: 50%;
    margin: -5px 0 0 -3.5px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 7px;
}
.l-tab-links-right span {
    background-position: -16px -16px;
}
.l-tab-links-left-over, .l-tab-links-right-over {
    background: #f4f4f4 none repeat scroll 0 0;
}
.l-tab-links-left-over i {
    background-position: 0 -16px;
}
.l-tab-links-right-over i {
    background-position: -16px -16px;
}
.l-tab-links-left-invalid {
    background-position: 0 0;
}
.l-tab-links-right-invalid {
    background-position: -16px 0;
}
.l-tab-links ul {
    left: 0;
    list-style: outside none none;
    overflow: hidden;
    padding: 2px 0 0 1px;
    position: absolute;
    top: 0;
    width: 9999px;
}
.l-tab-links li {
    border: 1px solid #dedede;
    cursor: pointer;
    display: inline;
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.l-tab-links li:first-child {
    border-top-left-radius: 2px;
}
.l-tab-links li:last-child {
    border-top-right-radius: 2px;
}
.l-tab-links li.l-selected {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f4f4f4 none repeat scroll 0 0;
    border-color: #ccc #ccc #f4f4f4;
    border-image: none;
    border-style: solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-width: 1px;
    height: 30px;
    line-height: 30px;
    top: -2px;
    z-index: 10;
}
.l-tab-links li a {
    -moz-user-select: none;
    color: #aaa;
    display: block;
    margin: 0 30px 0 10px;
    text-decoration: none;
}
.l-tab-links li.l-selected a {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.l-tab-links-item-left, .l-tab-links-item-right {
    display: none;
}
.l-tab-links-item-close {
    background: rgba(0, 0, 0, 0) url("../images/tab_close.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 8px;
    width: 12px;
    z-index: 12;
}
.l-selected .l-tab-links-item-close {
    background-position: 0 -12px;
    top: 8px;
}
.l-tab-links .l-tab-links-item-close-over {
    background-color: #ddd;
    background-position: 0 -12px;
    border-radius: 1px;
    color: #c5160b;
}
.l-tab-content {
    border-top: 1px solid #d6d6d6;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.l-tab-content-item {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.l-tab-content-item iframe {
    border: medium none;
    height: 100%;
    width: 100%;
}
.l-tab-drag-proxy {
    background: white none repeat scroll 0 0;
    border: 1px solid #bdd1ee;
    height: 25px;
    line-height: 25px;
    padding-left: 19px;
    padding-right: 4px;
    position: absolute;
    z-index: 1001;
}
.l-tab-drag-proxy .l-drop-icon {
    height: 16px;
    left: 4px;
    position: absolute;
    top: 5px;
    width: 16px;
}
