
.l-tree {
    background: white none repeat scroll 0 0;
    display: block;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.l-tree-loading {
    background: rgba(0, 0, 0, 0) url("../images/tree/loading.gif") no-repeat scroll 0 0;
    display: none;
    height: 24px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 40%;
    width: 24px;
    z-index: 91000;
}
.l-tree a, .l-tree span {
    color: #333;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
}
.l-tree .l-body span {
    display: block;
    float: left;
}
.l-tree ul, .l-tree li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.l-tree li {
    clear: both;
    cursor: pointer;
    display: block;
}
.l-tree li .l-body {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    width: 2000px;
}
.l-tree .l-box {
    background: rgba(0, 0, 0, 0) url("../images/tree/tree.gif") repeat scroll -22px -220px;
    float: left;
    height: 22px;
    overflow: hidden;
    width: 22px;
}
.l-tree li .l-body .l-box-loading {
    background: rgba(0, 0, 0, 0) url("../images/tree/nodeloading4.gif") no-repeat scroll 5px 5px;
    cursor: default;
}
.l-tree-noline .l-box {
    background-image: url("../images/tree/tree-noline.gif");
}
.l-tree .l-expandable-close {
    background-position: 0 -44px;
}
.l-tree .l-first .l-expandable-close {
    background-position: 0 -22px;
}
.l-tree .l-last .l-expandable-close {
    background-position: 0 -66px;
}
.l-tree .l-onlychild .l-expandable-close {
    background-position: 0 0;
}
.l-tree .l-expandable-open {
    background-position: 0 -132px;
}
.l-tree .l-first .l-expandable-open {
    background-position: 0 -110px;
}
.l-tree .l-last .l-expandable-open {
    background-position: 0 -154px;
}
.l-tree .l-onlychild .l-expandable-open {
    background-position: 0 -88px;
}
.l-tree .l-over {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.l-tree .l-over span {
    text-decoration: underline;
}
.l-tree .l-selected {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.l-tree .l-selected span {
    background: #d9e8fb none repeat scroll 0 0;
    border: 1px solid #b5cbec;
    height: 20px;
    line-height: 20px;
    padding: 0 2px;
}
.l-tree .l-line {
    background-position: 0 -176px;
}
.l-tree .l-note {
    background-position: 0 -198px;
}
.l-tree .l-note {
    background-position: 0 -198px;
}
.l-tree .l-note-last {
    background-position: 0 -220px;
}
.l-tree .l-checkbox-unchecked {
    background-position: -22px 0;
}
.l-tree .l-checkbox-checked {
    background-position: -22px -22px;
}
.l-tree .l-checkbox-incomplete {
    background-position: -22px -44px;
}
.l-tree .l-over .l-checkbox-unchecked {
    background-position: -44px 0;
}
.l-tree .l-over .l-checkbox-checked {
    background-position: -44px -22px;
}
.l-tree .l-over .l-checkbox-incomplete {
    background-position: -44px -44px;
}
.l-tree .l-tree-icon-folder {
    background-position: -22px -88px;
}
.l-tree .l-tree-icon-none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.l-tree .l-tree-icon-none img {
    border: 0 none;
    height: 16px;
    margin-left: 2px;
    margin-top: 2px;
    top: 2px;
    width: 16px;
}
.l-tree .l-tree-icon-folder-open {
    background-position: -44px -88px;
}
.l-tree .l-tree-icon-leaf {
    background-position: -22px -110px;
}
