
.l-tab-loading {
    background: white url("../images/common/bigloading.gif") no-repeat scroll center 40%;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 91000;
}
.l-tab-links {
    background: rgba(0, 0, 0, 0) url("../images/layout/tabs-bg.gif") repeat-x scroll 0 0;
    border-bottom: 1px solid #bed5f3;
    height: 26px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.l-tab-links-left {
    background: rgba(0, 0, 0, 0) url("../images/layout/tabs-tools.gif") repeat scroll 0 0;
    cursor: pointer;
    height: 23px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 17px;
    z-index: 13;
}
.l-tab-links-right {
    background: rgba(0, 0, 0, 0) url("../images/layout/tabs-tools.gif") repeat scroll -51px 0;
    cursor: pointer;
    height: 23px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 1px;
    width: 17px;
    z-index: 13;
}
.l-tab-links-left-over {
    background-position: -17px 0;
}
.l-tab-links-right-over {
    background-position: -68px 0;
}
.l-tab-links-left-invalid {
    background-position: -34px 0;
}
.l-tab-links-right-invalid {
    background-position: -85px 0;
}
.l-tab-switch {
    background: rgba(0, 0, 0, 0) url("../images/layout/tabs-tools.gif") repeat scroll -102px 0;
    cursor: pointer;
    display: none;
    height: 23px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 1px;
    width: 17px;
    z-index: 13;
}
.l-tab-itemswitch {
    background: #fff none repeat scroll 0 0;
    border-top-right-radius: 3px;
    position: relative;
    width: 26px;
}
.l-tab-links .l-tab-itemswitch a {
    background: rgba(0, 0, 0, 0) url("../images/layout/tabs-tools.gif") repeat scroll 0 -30px;
    height: 4px;
    left: 50%;
    line-height: 4px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 7px;
}
.l-tab-switchable .l-tab-links-right {
    right: 18px;
}
.l-tab-switchable .l-tab-switch {
    display: block;
}
.l-tab-windowsswitch {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #bed5f3;
    padding: 1px;
    position: absolute;
    z-index: 9900;
}
.l-tab-windowsswitch .theline {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #dcdcdc;
    border-image: none;
    border-style: none none dashed;
    border-width: medium medium 1px;
    height: 1px;
    line-height: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.l-tab-windowsswitch .closeall {
    background: rgba(0, 0, 0, 0) url("../images/layout/closeall.gif") repeat scroll 0 0;
    height: 16px;
    line-height: 16px;
    width: 16px;
}
.l-tab-windowsswitch a {
    border: 1px solid #fff;
    color: #333;
    display: block;
    height: 24px;
    line-height: 24px;
    margin: 1px;
    overflow: hidden;
    padding: 0 5px;
    text-decoration: none;
    width: 130px;
}
.l-tab-windowsswitch a:hover {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
}
.l-tab-windowsswitch a.selected {
    background: #caddf5 none repeat scroll 0 0;
    border: 1px solid #b9d2f2;
}
.l-tab-links ul {
    height: 26px;
    left: 0;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 9999px;
}
.l-tab-links li {
    background: rgba(0, 0, 0, 0) url("../images/layout/tabs-item-bg.gif") repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 0 0 0 2px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.l-tab-links li.l-selected {
    background: rgba(0, 0, 0, 0) url("../images/layout/tabs-item-over-bg.gif") repeat scroll 0 0;
}
.l-tab-links li a {
    color: #333;
    display: block;
    margin-left: 6px;
    margin-right: 37px;
    text-decoration: none;
}
.l-tab-links-item-left {
    background: rgba(0, 0, 0, 0) url("../images/layout/tabs-item-left-bg.gif") repeat scroll 0 0;
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
.l-tab-links-item-right {
    background: rgba(0, 0, 0, 0) url("../images/layout/tabs-item-right-bg.gif") repeat scroll 0 0;
    height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
}
.l-tab-links-item-close {
    background: rgba(0, 0, 0, 0) url("../images/icon/icon-close.gif") repeat scroll 0 0;
    cursor: pointer;
    height: 11px;
    overflow: hidden;
    position: absolute;
    right: 2px;
    top: 4px;
    width: 11px;
    z-index: 12;
}
.l-tab-links-item-close-over {
    background: rgba(0, 0, 0, 0) url("../images/icon/icon-close-over.gif") repeat scroll 0 0;
}
.l-tab-content {
    border: medium none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.l-tab-content-item {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.l-tab-content-item iframe {
    border: medium none;
    height: 100%;
    width: 100%;
}
.l-tab-drag-proxy {
    background: white none repeat scroll 0 0;
    border: 1px solid #bdd1ee;
    height: 25px;
    line-height: 25px;
    padding-left: 19px;
    padding-right: 4px;
    position: absolute;
    z-index: 1001;
}
.l-tab-drag-proxy .l-drop-icon {
    height: 16px;
    left: 4px;
    position: absolute;
    top: 5px;
    width: 16px;
}
.l-drop-no {
    background: white url("../images/common/drop-icons.gif") no-repeat scroll 0 -20px;
    height: 16px;
    overflow: hidden;
    width: 16px;
}
.l-drop-yes {
    background: white url("../images/common/drop-icons.gif") no-repeat scroll 0 0;
    height: 16px;
    overflow: hidden;
    width: 16px;
}
.l-tab-drag-droptip {
    height: 44px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 9px;
    z-index: 1000;
}
.l-tab-drag-droptip .l-drop-move-up {
    position: absolute;
    top: 0;
}
.l-tab-drag-droptip .l-drop-move-down {
    bottom: 0;
    position: absolute;
}
.l-drop-move-up {
    background: transparent url("../images/common/drop-icons.gif") no-repeat scroll -40px 0;
    height: 9px;
    overflow: hidden;
    width: 9px;
}
.l-drop-move-down {
    background: transparent url("../images/common/drop-icons.gif") no-repeat scroll -60px 0;
    height: 9px;
    overflow: hidden;
    width: 9px;
}
.l-easytab {
    padding: 0;
    position: relative;
}
.l-easytab .l-easytab-header {
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 101;
}
.l-easytab .l-easytab-header {
    padding-left: 3px;
}
.l-easytab .l-easytab-header li {
    float: left;
    margin-left: 2px;
}
.l-easytab .l-easytab-header li span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) url("../images/controls/bg-tab-title.gif") repeat-x scroll 0 0;
    border-color: #aecaf0 #aecaf0 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #283b56;
    display: block;
    height: 22px;
    line-height: 22px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}
.l-easytab .l-easytab-header li span.l-over {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) url("../images/controls/bg-tab-title-over.gif") repeat-x scroll 0 0;
    border-color: #dab364 #dab364 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    cursor: pointer;
}
.l-easytab .l-easytab-header li span.l-selected {
    background: white none repeat scroll 0 0;
    border-color: #ffbd69 #dab364 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 3px 1px medium;
    color: #355686;
    height: 20px;
}
.l-easytab .l-easytab-panelbox {
    border: 1px solid #aecaf0;
    clear: left;
    padding: 4px;
    position: absolute;
    top: 23px;
    z-index: 100;
}
