
.dpImg {
    padding-left: 141px;
    padding-top: 81px;
    width: 350px;
    height: 350px;
}

.kjbt {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    background: #e53;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
}

    .kjbt:hover {
        opacity: 0.8;
    }

.con_info {
    line-height: 28px;
    font-size: 14px;
}

.Contact_tit {
    height: 15px;
    line-height: 60px;
    font-size: 18px;
}

.sc_btn {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    background: #dbdbdb;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

    .sc_btn:hover {
        background: #c4c4c4;
        cursor: pointer;
    }

.sc input:hover {
    background: #c4c4c4;
    cursor: pointer;
}

.kjtb {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    background: #6B6B6B;
    color: #fff;
    border-radius: 5px;
    float: left;
    padding: 15px 0 5px 30px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
    border: none;
}

    .kjtb:hover {
        background: #ff6600;
    }

.kjtb {
    width: 50px;
    height: 50px;
    font-size: 12px;
    padding: 15px 15px 15px 15px;
    margin: 20px 40px 0 0;
}

    .kjtb img {
        width: 40px;
        height: 25px;
        margin-left: 5px;
    }


.txt-ms {
    width: 250px;
}

.txt-m {
    width: 250px;
}

.yzm22 {
    width: 165px;
}

.yzm2 {
    width: 165px;
}

.txt-y, .txt-j {
    width: 150px;
}

.update_info {
    float: left;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: #ddd;
    color: #666;
    margin: 7px;
    margin-top: 15px;
}

    .update_info:hover {
        background: #ff6600;
        color: #fff;
    }
