
body {
    font-family: "微软雅黑";
    font-size: 12px;overflow-x:hidden; 
}
.comBtn {
    color: #fff;
    padding: 5px 20px;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    margin-right: 15px;
}

    .comBtn:hover {
        background: #ff8400;
    }

.gray {
    background-color: #5a636d;
}

.green {
    background-color: #369839;
}

.orange {
    background-color: #ec651b;
}

input, select {
    border: 1px solid #D0D0D0; /*border-radius: 5px;*/
    padding-left: 3px;
}

        ::-webkit-scrollbar /*整体部分*/
        {
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-track /*滑动轨道*/
        {
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 0px;
            background: rgba(0,0,0,0.1);
        }

        ::-webkit-scrollbar-thumb /*滑块*/
        {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.2);
        }

            ::-webkit-scrollbar-thumb:hover /*滑块效果*/
            {
                border-radius: 5px;
                -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                background: rgba(0,0,0,0.4);
            }
